{{>head}}

{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Imagn</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nihil iure hic quos temporibus, sapiente facilis nulla. Sed at, provident, eligendi similique exercitationem vitae laboriosam quos placeat porro voluptate iste!</p>
        </div>
        
        <div class="col-4">
            <img src="assets/img/uno.jpg" class="img-thumbnail"
        </div>
        
    </div>

{{>footer}}